<!DOCTYPE html>
<html>
<head>
<title>菜单管理</title>
<#include "/header.html">
<link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap-table.min.css">
<link rel="stylesheet" href="${request.contextPath}/statics/plugins/treegrid/jquery.treegrid.css">
<script src="${request.contextPath}/statics/libs/bootstrap-table.min.js"></script>
<script src="${request.contextPath}/statics/plugins/treegrid/jquery.treegrid.min.js"></script>
<script src="${request.contextPath}/statics/plugins/treegrid/jquery.treegrid.bootstrap3.js"></script>
<script src="${request.contextPath}/statics/plugins/treegrid/jquery.treegrid.extension.js"></script>
<script src="${request.contextPath}/statics/plugins/treegrid/tree.table.js"></script>
</head>
<body>
<div id="pmpapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">

			<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>

	<!--		<#if shiro.hasPermission("sys:menu:save")>
			<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("sys:menu:update")>
			<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("sys:menu:delete")>
			<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>-->
		</div>
		<table id="menuTable" data-mobile-responsive="true" data-click-to-select="true">
			<thead>
			<tr>
				<th data-field="selectItem" data-checkbox="true"></th>
			</tr>
			</thead>
		</table>
	</div>

	<div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
			<div class="form-group">
				<div class="col-sm-2 control-label">类型</div>
				<label class="radio-inline">
					<input type="radio" name="type" value="0" v-model="menu.type"/> 目录
				</label>
				<label class="radio-inline">
					<input type="radio" name="type" value="1" v-model="menu.type"/> 菜单
				</label>
				<label class="radio-inline">
					<input type="radio" name="type" value="2" v-model="menu.type"/> 按钮
				</label>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">菜单名称</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="menu.name" placeholder="菜单名称或按钮名称"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">父级菜单</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" style="cursor:pointer;" v-model="menu.parentName" @click="menuTree" readonly="readonly" placeholder="父级菜单"/>
				</div>
			</div>
			<div v-if="menu.type == 1" class="form-group">
				<div class="col-sm-2 control-label">菜单跳转url</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="menu.url" placeholder="菜单跳转url"/>
				</div>
			</div>
			<div v-if="menu.type == 1 || menu.type == 2" class="form-group">
				<div class="col-sm-2 control-label">授权编码</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="menu.perms" placeholder="多个用逗号分隔，如：user:list,user:create"/>
				</div>
			</div>
			<div v-if="menu.type != 2" class="form-group">
				<div class="col-sm-2 control-label">图标</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="menu.icon" placeholder="菜单图标"/>
					<code style="margin-top:4px;display: block;">获取图标：<a href="http://www.fontawesome.com.cn/faicons/" target="_blank">http://www.fontawesome.com.cn/faicons</a></code>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label"></div>
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<!-- 选择菜单 -->
<div id="menuLayer" style="display: none;padding:10px;">
	<ul id="menuTree" class="ztree"></ul>
</div>

<script src="${request.contextPath}/statics/js/modules/sys/menu.js?_${.now?long}"></script>
</body>
</html>