<!DOCTYPE html>
<html>
<head>
    <title>角色管理</title>
    <#include "/header.html">
</head>
<body>
<div id="pmpapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" v-model="q.myFileName" @keyup.enter="query"
                       placeholder="请输入用户名、姓名...">
            </div>
            <a class="btn btn-default" @click="query">查询</a>
            <a class="btn btn-primary" @click="download"><i class="fa fa-pencil-square-o"></i>下载</a>
            <a class="btn btn-primary" @click="generate"><i class="fa fa-pencil-square-o"></i>生成链接</a>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
            <!--<#if shiro.hasPermission("sys:role:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
            </#if>
            <#if shiro.hasPermission("sys:role:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
            </#if>
            <#if shiro.hasPermission("sys:role:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
            </#if>-->
        </div>
        <table id="jqGrid"></table><!--表格-->
        <div id="jqGridPager"></div><!--分页-->
    </div>

    <!--vue model数据模型~数据的绑定-->
    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">文件名</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="myfile.myFileName" readonly/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">文件存储路径</div>
                <div class="col-sm-10">
                    <input type="text" name="myFilePath" id="myFilePath" class="form-control"
                           v-model="myfile.myFilePath" readonly/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">文件大小kb</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="myfile.size" readonly/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">文件上传时间</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="myfile.uploadTime" readonly/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <a id="linkToCart" class="btn btn-primary" href="">下载</a>
                &nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/disk/documents.js?_${.now?long}"></script>
<script>
    $(document).ready(function(){
        //点击链接的时候调用
        $("#linkToCart").click(function(){

            //得到input的值
            var myFilePath = $("#myFilePath").val();

            //设置linkToCart的href的值
            $("#linkToCart").attr("href","/file/my/download?myFilePath="+myFilePath);
        });
    });

</script>
</body>
</html>